receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317" # Le port gRPC standard
exporters:
  debug:
    verbosity: detailed
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: []
      exporters: [debug]